<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>본인인증</title>
<style>
body{padding-top:30px;}
label,input{display:block;}
</style>



</head>
<body>

<p>본인인증</p>

<form action="/process/authenticate" method="post" >
     <div>
         <label>PW</label>
         <input type="password" name="password">
     </div>
     <button type="submit">인증</button>
 </form>
</body>
</html>
