doctype html
html
	head
		meta(charset='utf-8')
	body
		h1 Card Functions Select
		form(action='/process/card/card_request' method='get')
			p
				h3 this is card request
			p
				input(type='submit' value='card request')
		form(action='/process/card/card_search' method='get')
			p
				h3 this is card search
			p
				input(type='submit' value='card search')
		form(action='/process/card/card_regist' method='get')
			p
				h3 this is card regist
			p
				input(type='submit' value='card regist')
		form(action='/process/card/card_password' method='get')
			p
				h3 this is card password
			p
				input(type='submit' value='card password')
		form(action='/main' method='get')
			p
				input(type='submit' value='Go Main')
