<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>메인화면 테스트</title>
	</head>
    <body>
        <a href="/logout">
            <button>로그아웃</button>
        </a>
        <a href="./login/signup.html">
            <button>회원가입</button>
        </a>        
		<a href="./account/account.html">
			<button>계좌</button>
		</a>
        <a href="./exchange/exchangeUI.html">
            <button>외환</button>
        </a>
        <button>카드</button>
        <a href="./mobileATM/mobileATM.html">
            <button>모바일ATM</button>
        </a>
        <a href="/authenticate">
            <button>본인인증</button>
        </a>
    </body>
</html>