doctype html
html
	head
		meta(charset='utf-8')
	body
		h1 Password Change
		p input your Name, Cardname, Birthday, Password and Change Password
		form(action='/process/pass_change_complete', method='post')
			p
				input(type='text' name='regist_name' placeholder='input name')
			p
				input(type='text' name='regist_cardname' placeholder='input cardname')
			p
				input(type='text' name='regist_birthday' placeholder='input birthday')
			p
				input(type='text' name='before_password' placeholder='input before password')
			p
				input(type='text' name='after_password' placeholder='input after password')
			p
				input(type='submit' value='Regist')
		form(action='/process/card' method='get')
			p
				input(type='submit' value='Back Home')