doctype html
html
	head
		meta(charset='utf-8')
	body
		if(rows.affectedRows)
			h2 Card Regist Success
		else
			h2 There is No Card
		form(action='/process/card' method='get')
			p
				input(type='submit' value='Back Home')